# Compilation / testing artifacts
build

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache
.mypy_cache

# Ignore venv (needed for python tests)
venv

# Ignore third party source/header files
external
